.login_react_task {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: 100%;
}
.home_cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
    }
}
.home_list_cont {
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, 500px));
        grid-gap: 50px;
        justify-content: space-around;
}
      
@media (max-width: 508px) {
.home_list_cont {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 500px));
    grid-gap: 50px;
    justify-content: space-around;
}
}
